article, aside, figure, footer, header, hgroup, nav, section {
  display: block; 
}
#articleContainer {
    width:800px;
    float:right;
    border-left: medium solid #3A4060;
}
body {
    background-color: white;
    margin: 0 auto;
    width: 970px;
}
body > header {
    padding: 10px;
    font-family: Helvetica, Verdana, sans-serif;
}
body > header h1 { padding-top: 1.5em }
body > header h1 a {
    color: black;
    text-decoration: none;
}
body > header h1 a:hover { text-shadow: #888888 0px 0px 1px }
body > header h1 a:visited { color: black }
#contentBody {
    overflow:hidden;
    border-top: medium solid #3A4060;
}
#contentBody nav {
    margin-top: 10px;
    float: left;
}
#contentBody nav h2 {
    margin: 0px;
}
#contentBody nav ul a {
    color: black;
    font-family: "Verdana", sans-serif;
}
#contentBody nav ul a:hover { text-shadow: #888888 0px 0px 1px }
article {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px 0px 10px 10px;
    text-align: justify;
    font: 0.95em 'Istok Web', "Verdana", sans-serif;
    border-top: thin dotted #3A4060;
    border-bottom: thin dotted #3A4060;
}
article > header h1 a {
    color: black;
    font: bold medium "Verdana", sans-serif;
}
article > header h1 a:hover { text-shadow: #888888 0px 0px 1px }
article > header time {
    float: right;
}
article h2 { font: bold 1.05em "Verdana", sans-serif }
article h3,
article h4 { font: bold 1em "Verdana", sans-serif }
article a {
    color: #cc0000;
}
article a:visited { color: #aa0000 }
article a:hover {
    color: #ff190d;
    text-shadow: #ff6666 0px 0px 1px;
}
article p { line-height: 1.3em }
article dl { padding-left: 16px }
article dl dt {
    font-weight: bold;
    color: #444444;
    padding: 6px 92px 3px 0;
    padding-top: 9px;
}
article ul {
    padding: 0 0 10px 40px;
    list-style-type: disc;
}
article li { padding-top: 3px }
article pre,
article code {
    font-family: Bitstream Vera Sans Mono, monospace;
    font-size: 13px;
}
article blockquote {
    border-left: 3pt solid #aaaaaa;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    font: italic small Verdana, Times, sans-sans-serif;
    color: #222222;
}
article blockquote em { font-weight: bold }
article img {
    max-width: 700px;
    margin: 0em 20px;
    box-shadow: 0px 0px 4px black;
}
article .amp {
    color: #666666;
    font-family: "Warnock Pro", "Goudy Old Style", "Verdana", "Book Antiqua", sans-serif;
    font-size: small;
    font-style: italic;
}
article .caps { font-size: 0.92em }
article .highlight {
    border: 1px solid #cccccc;
    padding-left: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
    background: none repeat scroll 0 0 #f0f0f0;
    overflow: auto;
}
article > footer p {
    margin: 0 0 0 0;
    font-style: italic;
}
article > footer a {
    color: #111111;
    font-family: Verdana, "times new roman", sans-serif;
    font-weight: bold;
    font-size: 0.95em;
}
article > footer a:hover {
    color: #111111;
    text-shadow: #aaaaaa 0px 0px 1px;
}
article > footer a:visited { color: black }
article .page {
    margin-top: -20px;
    font: bold medium Verdana, Arial, sans-serif;
    color: black;
    border-bottom: 1px dotted black;
}
body > .page {
  margin-top: -20px;
  font: bold medium Verdana, Arial, sans-serif;
  color: black;
  border-bottom: 1px dotted black; }
  body > .page:hover {
    text-shadow: #aaaaaa 0px 0px 1px; }

#arc { border-collapse: collapse }
#arc th,
#arc td {
    padding-top: 0.4em;
    list-style: none;
    margin: 0;
}
#arc th {
    text-align: right;
    padding: 0.4em 1.75em 0 0;
    vertical-align: baseline;
}
body > footer {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font: medium Verdana, Arial, sans-serif;
}
body > footer a {
    font-weight: bold;
    border-bottom: 1px dotted black;
    color: #cc0000;
}
body > footer a:hover {
    text-shadow: #ee6688 0px 0px 1px;
    color: #ff190d;
}
.comments a { color: black }
.comments a:hover {
    color: #111111;
    text-shadow: #aaaaaa 0px 0px 1px;
}
.comments a:visited { color: black }
object[type="application/x-shockwave-flash"], iframe.video {
    box-shadow: 0px 0px 12px #777777;
    margin-left: 15px;
    text-align: center;
}
#dsq-content .dsq-avatar { margin-left: -18px; } /* disqus fix */
.shadow { box-shadow: 0px 0px 4px black }
.floatright { float: right }
.floatleft { float: left }

/* tag cloud css */
.tag-0 {
    font-size: .75em;
}
.tag-1 {
    font-size: .85em;
}
.tag-2 {
    font-size: .95em;
}
.tag-3 {
    font-size: 1.05em;
}

/***** LaTeX *****/
.latex {
  font-family: Times, Arial, sans-serif;	
  letter-spacing: 1px;
}

.latex sup {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

.latex sub {
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}
