#menu > ul {
    list-style-type: none;
}
#menu > ul > li {
    display: inline-block;
    margin-right: 10px;
}
#menu > ul > li.active > a {
    text-decoration: none;
}
#menu > ul > li > a {
    font-style: none;
    text-decoration: underline;
}